.expense-c{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(125deg,yellow,orange);
  font-family:Serif;
}
.expense-container{
    text-align: center;
    padding: 20px;
    color: #fff;
}
  
.expense-tracker {
    max-width: 600px;
    margin: 0 auto;
    background-image:linear-gradient(125deg,blue,black);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .balance {
    margin-bottom: 20px;
  }
  
  .balance h2 {
    margin: 5px ;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input {
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background: #39c2e7;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background: #0599f5;
  }
  
  .expense-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(247, 169, 52);
  }
  
  .expense-list button {
    padding: 5px 10px;
    background: #e75241;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .expense-list button:hover {
    background: red;
  }
  