
.expense-c {
  min-height: 100vh;
  background: linear-gradient(135deg, #2193b0, #6dd5ed, #cc2b5e, #753a88);
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
  font-family: Serif;
  padding-bottom: 60px; 
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.expense-container {
  text-align: center;
  padding: 20px;
  color: #fff;
}

.expense-tracker {
  max-width: 600px;
  margin: 0 auto;
  background-image: linear-gradient(145deg, #0f2027, #203a43, #2c5364);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.balance {
  margin-bottom: 20px;
}

.balance h2 {
  margin: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 4px;
}

button {
  padding: 10px;
  background: #39c2e7;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #0599f5;
}

.expense-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgb(247, 169, 52);
}

.expense-list button {
  padding: 5px 10px;
  background: #e75241;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.expense-list button:hover {
  background: red;
}


.expense-analytics-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap; 
}

 .expense-list,
.analytics {
  flex: 1;
  min-width: 300px;
  color: #fff;
  box-sizing: border-box;
}
.analytics {
  background: #1c1c3c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .expense-analytics-wrapper {
    flex-direction: column;
  }

  .expense-list,
  .analytics {
    width: 100%;
    flex: none;
  }

  .analytics,
  .expense-list {
    margin-top: 20px;
  }
}